h1 { 
  position: absolute; 
  top: 300px; 
  left: 0; 
  width: 100%; 
}
h6{
  width: 100%; 
  top: 600px; 
  left: 0; 
  position: absolute; 

}
.start{
color: white;
}
.start h1,p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.image{
  height: auto;
  top: 0;
  bottom: 0;
  position: relative;
}
.shoe{
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.aboutus{
  padding-top: 20px;
  height: 40vh;
}
.aboutus >p{
  font-weight: 600;
  font-size: large;
}
.second{
  background:url("./images/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width : 100%;
  color: white;
  height: 60vh;
  position: relative;
  left: 0;
  top: 100%;
}
.second >p{
 font-size: 8vw;
 font-weight: 700;
 font-size: large;
 color: white;
}
.number{
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: absolute;
  }

* What we do */
.what-we-do:hover {
  color:black;
  background:rgba(248, 247, 246, 0.979);
  padding-top: 7vh;
  height: 50vh;
}

.portfolio:hover {
  font-family: cursive;
  font-size: 25px;
  color: rgb(70, 248, 239);
  padding: 2rem;
}

.pym {
  padding-top: 8vh;
}

.portflio8 {

  left: 48%;
  transform: translate(-50%, -80%);
  display: none;
  position: absolute;
  padding: 7px;
  background-color: white;
  text-align: center;
  top: 60%;
}
.tea:hover {
  opacity: 0.3;
}
.portfolio8:hover {
  opacity: 1;
}

/* start form styling */
.hulk {
  margin-top: 5vh;
}
#name,
#email,
#textarea {
background-color: transparent;
}
.reed {
  height: 90vh;
  width: 100%;
}
.maker {
  position: relative;
  left: 0;
  top: 0;
}
.submitstorm {
  margin-bottom: 19vh;
}

/* portfolio section */
.pym {
  padding-bottom: 5vh;
}
.find-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.maker > h3 {
  text-transform: uppercase;
  padding-top: 2vh;
}
.submitme {
  margin-top: 1rem;
  margin-left: 50%;
}

/* contact us section */
.find-me {
  padding-top: 10vh;
  background-size: cover;
}
.find-me > h3 {
  color: white;
}
.logo{
  font-style: normal;
  font-size: large;
  font-weight: 700;
}
.footer-sec:hover {
  padding-top: 3vh;
  height: 10vh;
}

/* keyframes */
#anim{
  animation: pulse 5s infinite;
  padding-top: 2vh;
  animation-duration: 2s;
  animation-name: mymouse;
}
@keyframes mymouse {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

